.home{
  position: relative;
  width: 100%;
  height: 90vh;
  overflow-y: scroll;
  background: rgb(234, 253, 240);
  display: flex;
  justify-content: center;
  /* border: 5px solid black; */
  /* align-items: center; */
}

.home-container{
  width: 80%;
  /* height: 100%; */
  /* border: 1px solid red; */
  margin-top: 10vh;
}

.top-headers{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(234, 253, 240);
  height: 8vh;
  border-bottom: 2px solid green;
}

.headers{
  flex: 5;
  position: relative;
  height: 80%;
  /* border: 1px solid black; */
  text-decoration: none;
  display: flex;
  justify-content: space-around;
  
}

.header-li{
  flex: 1;
  height: 100%;
  display: flex;
  /* border: 1px solid black; */
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
}

.header-li:hover{
  box-shadow:2px 1px 5px 2px rgb(173, 232, 173) ;
}

.active{
  background: rgb(199, 250, 230);
}

.header-li p{
  margin-left: 1em;
  padding: 0px 6px ;
  text-align: center;
  color: rgb(197, 54, 193);
  background-color: rgb(243, 223, 216);
  border-radius: 5px;
}

.addTodo-button{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #4CAF50; /* Light green background for the button */
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
  transition: all 0.3s ease;
  outline: none;
}

.addTodo-button:hover{
  box-shadow: 0 0 15px #4CAF50;
}

.addTodo-button:focus{
  box-shadow: 0 0 15px #4CAF50;
}

.addTodo-button-p2{
  display: none;
}

.addTodo{
  flex: 1;
  display: flex;
  justify-content: center;
}

.bottom-content{
  margin-top: 20px;
}

.todo-list{
  margin-top: 20px;
}

.todo-item{
  padding: 20px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgb(224, 184, 184);
}

.todo-item-left{
  flex: 4;
}

.todo-item-right{
  flex: 2;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.edit-todo-button{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #4CAF50; /* Light green background for the button */
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
  transition: all 0.3s ease;
  outline: none;
}

.edit-todo-button:hover {
  box-shadow: 0 0 15px #4CAF50; /* Glowing effect on hover */
}

.edit-todo-button:focus {
  box-shadow: 0 0 15px #4CAF50; /* Glowing effect on focus */
}

@media only screen and (max-width: 600px){
  .home-container{
    width: 95%;
    /* height: 100%; */
    /* border: 1px solid red; */
    margin-top: 10vh;
  }
  .todo-list{
    margin-top: 5px;
  }
  .todo-item{
    flex-direction: column;
    padding: 10px 5px;
  }
  .todo-item-right{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    padding: 0;
    /* border: 1px solid red; */
    /* flex-direction: space-between; */
  }
  .edit-todo-button{
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 5px;
  }

  .addTodo-button-p1{
    display: none;
  }

  .addTodo-button-p2{
    display: block;
  }
}