.navigation-main{
  width: 100%;
  height: 10vh;
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
  /* padding: 10px 40px; */
  align-items: center;
}

.left{
  /* flex: 5; */
  margin-left: 5vw;
}
.right{
  display: flex;
  /* flex: 2; */
  margin-right: 5vw;
  justify-content: space-between;
  align-items: center;
}

/* right */

.logout {
  background-color: #4CAF50; /* Light green background for the button */
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
  transition: all 0.3s ease;
  outline: none;
  margin-left: 3vw;
}

.logout:hover {
  box-shadow: 0 0 15px #4CAF50; /* Glowing effect on hover */
}

.logout:focus {
  box-shadow: 0 0 15px #4CAF50; /* Glowing effect on focus */
}

@media only screen and (max-width: 600px){
  .left h2{
    font-size: 18px;
    margin-right: 3vw;
  }
}

@media only screen and (max-width: 450px){
  .left h2{
    font-size: 16px;
  }
}